beautifulsoup4==4.14.3
cfgv==3.5.0
distlib==0.4.0
filelock==3.28.0
identify==2.6.18
markdownify==1.2.2
nodeenv==1.10.0
platformdirs==4.9.6
pre_commit==4.5.1
psycopg2-binary==2.9.11
python-discovery==1.2.2
python-dotenv==1.2.2
PyYAML==6.0.3
six==1.17.0
soupsieve==2.8.3
typing_extensions==4.15.0
virtualenv==21.2.4
